


.textin{
	border:none;
	border-bottom: 2px solid white;
	background-color: #6f42c1;
	width: 300px;
	font-size: 1em;
	color: white;
	border-right: 30px;

}
.selectin{
	background-color: #6f42c1;
	font-size: 1em;
	color: white;
	border:none;
	border-bottom:2px solid white;

}
.close_button{
	position: absolute;
	right: 30px;
	padding: 10px;
	font-size: 2em;
	color: white;
	border: 2px solid white;
	border-radius:10px;
	margin-right: 10px;
    top:30px;

}
.close_button:hover{
	background-color: white;
	color: #6f42c1;
}

.send_button{
    position: absolute;
    left:20%;
    padding: 10px;
    font-size: 2em;
    color: white;
    border: 2px solid white;
    border-radius:10px;
    margin-right: 10px;
    top:80%;

}
.send_button:hover{
    background-color: white;
    color: #6f42c1;
}


@media screen and (max-width:980px  ){
	.box{
		font-size: 2em;
		line-height: 70px;
		width: 90%;

	}
	.close_button{
		font-size: 1.5em;
	}

    .send_button{
        font-size: 1.5em;
        top:70%;
    }

}
@media screen and (max-width:680px  ){
	.box{
		font-size: 1.5em;
		line-height: 50px;
	}
	.textin{
		width: 90%;
	}
	.close_button{
		font-size: 1em;
	}

    .send_button{
        font-size: 1em;
    }
}

@media screen and (max-width:400px  ){
	.box{
		font-size: 1em;
	}
}
