



html {
     height:100%;
 }
body {
    font-family: "Comfortaa";
    height: 40000px;
}




video {
    transition: all 1.5s;
    position: fixed;
    left: 50%;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    background-size: cover;
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.background {
    position: fixed;
    left: 50%;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -110;
    background-size: cover;
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.box{
    opacity: 0;
    width: 700px;
    height: 700px;
    position: fixed;
    left:0 ;
    right: 0;
    bottom: 0;
    top: -60%;
    margin: auto;




}

.section2{
    opacity: 0;
    margin: 0;
    padding: 0;

    position:fixed;
    top:35%;
    /*background-image: url("../img/notice1.png");*/
    background-size: cover;
    display:inline;
    left: 50%;
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 30px;
    width:70%;



   /* background: linear-gradient(to top, rgba(0,0,0,.5), rgba(255,255,255,0));*/



}



.left{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 90%;
    /*background-color: black;*/

    color: white;
    text-align: center;
    position: relative;
    left:50%;
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);





}
.right{


    height: 100%;
    width: 50%;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    padding: 20px 20px;
    opacity: 0.4;

}
h3{
    padding-top: 30px;
    text-align: center;
    opacity: 2;
}



 @media only screen and (max-width: 600px) {
     body {

     }


     .section2{
         margin: 0;
         padding: 0;
         opacity:0;
         position:fixed;
         top:20%;
         /*background-image: url("../img/notice1.png");*/
         background-size: cover;
         display:inline;
         left: 50%;
         -moz-transform: translateX(-50%);
         transform: translateX(-50%);
         width:100%;
         font-size: 25px;


     }


     #clockdiv{
         top:-20%;
         position: fixed;
         left: 50%;
         margin-left: -300px;
         color: #fff;
         display: inline-block;
         font-weight: 100;
         text-align: center;
         font-size: 40px;



     }

     #clockdiv > div{


         padding: 10px;
         border-radius: 3px;
         background: transparent;
         display: inline-block;
     }

     #clockdiv div > span{
         padding: 15px;
         border-radius: 3px;
         display: inline-block;
     }

     .smalltext{
         opacity: 1;
         padding-top: 5px;

     }

 }