
ul {
    opacity: 0
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:transparent;
    font-size: 33px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {

    text-decoration: none;
}

.active {
    background:transparent;
}
