
ul {
    opacity: 0;

    margin: 0;
    padding: 0;
    overflow: hidden;
    background:transparent;
    font-size: 33px;
    position: fixed;
    opacity: 0;
    top: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {

    text-decoration: none;
}

.active {
    background:transparent;
}



.emailicon{
    opacity: 0;
    position: fixed;
    left:90%;
    top:10%;


    margin-left:-25px; /* -1/2 width */
    margin-top:-25px; /* -1/2 height */

}

.emailpng{
    opacity: inherit;
    width: 50px;
    height: 50px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}



.car {
    opacity: .7;
    background: #fff;
    position: fixed;
    border-radius: 2px;
    height: 90%;


    top :5%;
    left:50%;
    margin-left:-45%;

    width: 90%;
    z-index: 1;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.button {
    font-family: Helvetica, Roboto;
    position: relative;
    left:50%;
    top:50%;

    margin-left:-50px; /* -1/2 width */
    margin-top: -20px;

    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
}

.default {
    color: black;
}

.default:hover {

    text-decoration: underline;
}


.loading {

    position: fixed;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    z-index: -101;
    background-size: cover;
    margin-left: -100px; /* -1/2 width */
    margin-top: -100px;
}


.emailpng span {
    max-width: 0;
    -webkit-transition: max-width 1s;
    transition: max-width 1s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}
.email:hover span {
    max-width: 7rem;
}